@font-face {
  font-family: "MyriadPro-Regular";
  src: url("fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadPro-Regular.otf") format("opentype"), url("fonts/MyriadPro-Regular.woff") format("woff"), url("fonts/MyriadPro-Regular.ttf") format("truetype"), url("fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro-It";
  src: url("fonts/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadPro-It.otf") format("opentype"), url("fonts/MyriadPro-It.woff") format("woff"), url("fonts/MyriadPro-It.ttf") format("truetype"), url("fonts/MyriadPro-It.svg#MyriadPro-It") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue.woff") format("woff"), url("fonts/HelveticaNeue.ttf") format("truetype"), url("fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-Bold.woff") format("woff"), url("fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SFUAuchon";
  src: url("fonts/SFUAuchon.eot?#iefix") format("embedded-opentype"), url("fonts/SFUAuchon.woff") format("woff"), url("fonts/SFUAuchon.ttf") format("truetype"), url("fonts/SFUAuchon.svg#SFUAuchon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ft-myriadpro {
  font-family: "MyriadPro-Regular", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.ft-helveticaneue {
  font-family: "HelveticaNeue", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.ft-helveticaneue-bold {
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* COMPASS
 * ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE
 * ----------------------------------------------- */
/* MEDIA QUERIES
 * ----------------------------------------------- */
/* ADDITIONAL RESET
 * ----------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
  line-height: 1;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
  white-space: pre-line;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
html {
  font-size: 100px;
}

@media screen and (max-width: 1260px) {
  html {
    font-size: 7.93651vw;
  }
}
body {
  color: #000;
  font-family: "HelveticaNeue", Arial, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.ft-serif {
  font-family: "Times New Roman", YuMincho, Meiryo, Georgia, serif;
}

/* HELPERS
 * ----------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.container {
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

/* RESPONSIVE
 * ----------------------------------------------- */
@media print, (min-width: 768px) {
  .sm {
    display: none !important;
  }

  .trans {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.26s ease;
    -o-transition: opacity 0.26s ease;
    -webkit-transition: opacity 0.26s ease;
    transition: opacity 0.26s ease;
  }
  .trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 17.76vw;
  }

  .md {
    display: none !important;
  }

  body {
    font-size: 0.3rem;
  }

  .container {
    width: auto;
    min-width: 320px;
  }

  .wrapper {
    width: auto;
    margin: 0;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
  }
}
/* PARTS
 * ----------------------------------------------- */
/* COMMON HEADER
 * ----------------------------------------------- */
@media print, (min-width: 768px) {
  header {
    background: url(../img/common/header_bg.jpg) repeat-x 0 0;
    background-size: auto 0.8rem;
    padding-bottom: 0.05rem;
    position: relative;
  }
  header:after {
    content: "";
    position: absolute;
    left: 0;
    height: 0.05rem;
    width: 100%;
    bottom: 0;
    background: url(../img/common/line.jpg) repeat-x center 0;
    background-size: auto 0.05rem;
  }
  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.8rem;
    max-width: 1362px;
  }
  header .header-logo {
    width: 4.34rem;
  }
  header img {
    display: block;
    max-width: 100%;
  }

  .list-menu {
    font-size: 0.18rem;
    display: flex;
  }
  .list-menu > li {
    margin-left: 0.28rem;
  }
  .list-menu > li:first-child {
    margin-left: 0;
  }
  .list-menu a {
    display: block;
    color: #FFFF62;
    font-family: "HelveticaNeue-Bold", sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0.12rem 0.24rem;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0.05em;
  }
  .list-menu a:hover:after, .list-menu a.is-current:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .list-menu a > span {
    display: block;
    z-index: 2;
    position: relative;
  }
  .list-menu a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0.05rem;
    background: url(../img/common/menu_bg.png) repeat-x center center;
    background-size: auto 110%;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: opacity 0.26s ease;
    -o-transition: opacity 0.26s ease;
    -webkit-transition: opacity 0.26s ease;
    transition: opacity 0.26s ease;
  }

  .navigation {
    height: auto;
    display: block !important;
  }

  body {
    position: static !important;
    top: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  header {
    background: url(../img/common/sp/header_bg.jpg) no-repeat 0 bottom;
    background-size: cover;
    padding: 0.12rem 0 0.2rem;
    position: relative;
    z-index: 200;
  }
  header .header-logo {
    width: 69%;
  }
  header .btn-menu {
    position: absolute;
    right: 0.3rem;
    top: 50%;
    width: 0.6rem;
    height: 0.4rem;
    background: url(../img/common/sp/menu_btn.png) no-repeat 0 0;
    background-size: 100% auto;
    margin-top: -0.2rem;
  }

  .list-menu {
    font-size: 0.28rem;
  }
  .list-menu > li {
    border-bottom: 1px solid #fffc7b;
  }
  .list-menu a {
    display: block;
    color: #FFFF62;
    font-family: "HelveticaNeue-Bold", sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0.18rem 0.24rem;
    text-transform: capitalize;
    letter-spacing: 0.05em;
  }

  .navigation {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 888;
    background: #003605;
    left: 0;
    display: none;
  }

  .overlay-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 180;
  }
}
/* COMMON FOOTER
 * ----------------------------------------------- */
@media print, (min-width: 768px) {
  footer {
    height: 0.7rem;
    background: url(../img/common/footer_bg.jpg) repeat-x center bottom;
    background-size: 0.25rem auto;
    padding-top: 0.05rem;
    position: relative;
  }
  footer:before {
    content: "";
    position: absolute;
    left: 0;
    height: 0.05rem;
    background: url(../img/common/line_01.jpg) repeat-x center 0;
    background-size: auto 100%;
    top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    background: #000b05;
    height: 0.86rem;
  }
  footer .footer-inner {
    background: url(../img/common/sp/footer_bg.jpg) no-repeat 0 0;
    background-size: 100% auto;
    position: relative;
    padding: 0.12rem 0;
    height: 0.86rem;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 51;
    width: 100%;
  }
  footer .footer-inner .registration-btn {
    width: 48%;
    margin: 0 auto;
    display: block;
  }
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide:active, .slick-slide:focus {
  outline: none;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow,
.slick-dots button {
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -1000px;
  overflow: hidden;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  cursor: pointer;
}

.lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.lightbox .lightbox-wrap {
  width: 100%;
  height: 100%;
  padding: 0;
  display: table;
}
.lightbox .lightbox-td-va {
  display: table-cell;
  vertical-align: middle;
}
.lightbox .lightbox-window {
  margin: auto;
  overflow: hidden;
  max-width: 695px;
  position: relative;
}
.lightbox .lightbox-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.no-scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lightbox-join .lightbox-content {
  max-height: calc( 100vh - 100px );
}

@media print, (min-width: 768px) {
  .col.registration-col .lightbox {
    display: block !important;
    background: none;
  }
  .col.registration-col .lightbox .lightbox-wrap {
    display: block;
    height: auto;
  }
  .col.registration-col .lightbox .lightbox-td-va {
    display: block;
  }
  .col.registration-col .lightbox .lightbox-window {
    max-width: 100%;
    overflow: visible;
  }
  .col.registration-col .lightbox .lightbox-content {
    overflow: visible;
  }
}
/* PAGES
 * ----------------------------------------------- */
.section-keyvisual {
  position: relative;
  overflow: hidden;
}
.section-keyvisual img {
  display: block;
  width: 100%;
}
.section-keyvisual .keyvisual-number {
  position: absolute;
  font-size: 4.38vw;
  line-height: 1;
  left: 0;
  top: 0;
  margin: 26.5% 0 0 5.2%;
  color: #cf0008;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 -1px 0 black, 0 1px 0 black;
  z-index: 2;
  display: flex;
  font-family: "SFUAuchon", sans-serif;
}
.section-keyvisual .keyvisual-number .number-item {
  width: 30vw;
  text-align: right;
}
.section-keyvisual .btn-join {
  width: 18.3vw;
  height: 4.6vw;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  margin: 0 0 8vw 13.46vw;
  display: block;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .section-keyvisual img {
    display: block;
    width: 100%;
  }
  .section-keyvisual .keyvisual-number {
    font-size: 0.54rem;
    margin: 0 0 2.18rem 0.38rem;
    top: auto;
    bottom: 0;
  }
  .section-keyvisual .keyvisual-number .number-item {
    width: 4rem;
    text-align: right;
  }
  .section-keyvisual .btn-join {
    width: 2.74rem;
    height: 0.78rem;
    margin: 0 0 0.35rem 1.36rem;
  }
}
@media print, (min-width: 768px) {
  .section-prize-registration {
    position: relative;
  }
  .section-prize-registration .col {
    position: relative;
    z-index: 2;
  }

  .section-prize-registration {
    background: #003605 url(../img/common/body_bg.jpg) no-repeat center 0;
    background-size: auto 100%;
    display: flex;
  }
  .section-prize-registration .col {
    width: 50%;
    overflow: hidden;
  }
  .section-prize-registration .wrapper {
    display: flex;
  }
}
.prize-col {
  font-size: 0.26rem;
  line-height: 1.2;
  color: #fff;
}
.prize-col .prize-row {
  position: relative;
  z-index: 2;
}

@media print, (min-width: 768px) {
  .prize-col {
    background: url(../img/top/line_01.png) no-repeat right 0;
    background-size: 0.08rem auto;
    padding-top: 0.35rem;
  }
  .prize-col .prize-inner {
    width: 6.55rem;
    float: right;
  }
  .prize-col .prize-title {
    background: url(../img/top/title_bg.png) no-repeat 0 bottom;
    background-size: 100% auto;
    width: 5.66rem;
    padding-bottom: 1.6rem;
    margin-bottom: -0.95rem;
  }
  .prize-col .prize-row {
    padding: 0 1.8rem 0 0.56rem;
  }
  .prize-col .prize-row + .prize-row {
    margin-top: 0.14rem;
  }
  .prize-col .prize-list {
    width: 4.2rem;
    margin-top: 0.02rem;
  }
  .prize-col .prize-list > li {
    margin-top: 0.05rem;
  }
  .prize-col .prize-list > li:first-child {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .prize-col {
    padding: 1px 0 0.3rem;
    background: url(../img/top/sp/bg_01.png) no-repeat 0 bottom;
    background-size: cover;
    position: relative;
    z-index: 4;
  }
  .prize-col .about-title {
    margin-top: 0.75rem;
    padding: 0 0.3rem;
  }
  .prize-col .mb-bottom {
    margin-bottom: 0.56rem;
  }
  .prize-col:after {
    content: "";
    width: 3.6rem;
    height: 4.28rem;
    background: url(../img/top/sp/shape_icon_01.png) no-repeat 0 0;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    bottom: 2.85rem;
  }
  .prize-col .prize-title {
    margin: -0.15rem 0 -1.28rem;
  }
  .prize-col .prize-row {
    padding: 0 0.3rem;
    font-size: 0.28rem;
    line-height: 1.15;
    text-align: center;
  }
  .prize-col .prize-row + .prize-row {
    margin-top: 0.3rem;
  }
  .prize-col .prize-list {
    margin-top: 0.26rem;
  }
  .prize-col .prize-list > li {
    margin-top: 0.05rem;
  }
  .prize-col .prize-list > li:first-child {
    margin-top: 0;
  }
}
@media print, (min-width: 768px) {
  .registration-col {
    background: url(../img/top/registration_bg.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;
    display: block !important;
  }
  .registration-col:before {
    content: "";
    width: 2.58rem;
    height: 6.16rem;
    position: absolute;
    left: 0;
    top: 0.74rem;
    background: url(../img/top/shape_icon_03.png) no-repeat center 0;
    background-size: 100% auto;
    margin-left: 6.2rem;
  }
  .registration-col:after {
    content: "";
    position: absolute;
    width: 6.1rem;
    left: 0.12rem;
    top: 0.95rem;
    mix-blend-mode: multiply;
    background: url(../img/top/form_bg_01.png) no-repeat 0 0;
    background-size: 100% auto;
    height: 7.64rem;
  }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), print and (-ms-high-contrast: active), (min-width: 768px) and (-ms-high-contrast: active) {
  .registration-col:after {
    display: none;
  }
}
@media print, (min-width: 768px) {
  @supports (-ms-ime-align: auto) {
    .registration-col:after {
      display: none;
    }
  }
  .registration-col .registration-inner {
    width: 6.36rem;
    padding: 0.38rem 0.35rem 0.8rem;
    position: relative;
    z-index: 2;
  }
  .registration-col .registration-title {
    margin-bottom: 0.26rem;
  }
}
.registration-form {
  position: relative;
}
.registration-form .registration-form-inner {
  background: url(../img/top/form_bg.png) no-repeat 0 0;
  background-size: 100% auto;
  padding: 0.36rem 0.5rem 0.36rem 0.42rem;
  font-size: 0.2rem;
  color: #000;
  position: relative;
  z-index: 2;
  display: block;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .registration-form .registration-form-inner {
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
  }
}
@supports (-ms-ime-align: auto) {
  .registration-form .registration-form-inner {
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
  }
}
.registration-form .form-block {
  margin-bottom: 0.22rem;
}
.registration-form .form-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.22rem;
}
.registration-form .form-head {
  width: 1.74rem;
}
.registration-form .form-content {
  width: calc( 100% - 1.74rem );
}
.registration-form .form-radio {
  display: flex;
  justify-content: space-between;
  margin: 0.42rem 0 0.28rem;
}
.registration-form .form-radio .radio-col:first-child {
  padding-left: 0.1rem;
}
.registration-form .form-text {
  margin: -0.05rem 0 0.05rem;
}

.form-btn {
  width: 3rem;
  margin: 0 auto;
  position: relative;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-btn {
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.6);
  }
}
@supports (-ms-ime-align: auto) {
  .form-btn {
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.6);
  }
}
.form-btn:after {
  content: "";
  left: -0.06rem;
  top: -0.03rem;
  right: -0.05rem;
  bottom: -0.08rem;
  background: url(../img/top/btn_submit_bg.png) no-repeat 0 0;
  background-size: 100% 100%;
  mix-blend-mode: multiply;
  position: absolute;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-btn:after {
    display: none;
  }
}
@supports (-ms-ime-align: auto) {
  .form-btn:after {
    display: none;
  }
}

.btn-submit {
  width: 3rem;
  height: 0.56rem;
  background: url(../img/top/btn_submit.png) no-repeat 0 0;
  background-size: 100% 100%;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  outline: none;
  display: block;
  text-transform: uppercase;
  font-size: 0.41rem;
  padding-top: 0.08rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.text-box,
.select {
  border: 1px solid #828179;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  display: block;
  padding: 0 0.18rem;
  border-radius: 0;
  box-shadow: none;
  font-size: 0.24rem;
  outline: none;
  background: #fff;
  height: 0.62rem;
}

.select {
  background: #fff url(../img/top/select_icon.png) no-repeat right 8px center;
  background-size: 0.26rem auto;
  padding-right: 0.4rem;
}

.select::-ms-expand {
  display: none;
}

::-webkit-input-placeholder {
  color: #808080;
  opacity: 1;
  font-family: "MyriadPro-It", sans-serif;
}

::-moz-placeholder {
  color: #808080;
  opacity: 1;
  font-family: "MyriadPro-It", sans-serif;
}

:-ms-input-placeholder {
  color: #808080;
  opacity: 1;
  font-family: "MyriadPro-It", sans-serif;
}

:-moz- {
  color: #808080;
  opacity: 1;
  font-family: "MyriadPro-It", sans-serif;
}

.label-radio input {
  display: none;
}
.label-radio span {
  position: relative;
  display: block;
  padding-left: 0.35rem;
}
.label-radio span:before {
  content: "";
  width: 0.24rem;
  height: 0.23rem;
  position: absolute;
  left: 0;
  top: -0.04rem;
  display: block;
  background: url(../img/top/radio_icon.png) no-repeat center bottom;
  background-size: 100% auto;
}
.label-radio input:checked + span:before {
  background-position: 0 0;
}

@media only screen and (max-width: 767px) {
  .registration-col .lightbox .lightbox-content {
    max-height: calc( 100vh - 70px  );
    margin: 0 0.2rem;
    padding: 0.2rem 0;
  }

  .registration-form {
    position: relative;
  }
  .registration-form .registration-form-inner {
    background-image: url(../img/top/sp/form_bg.png);
    height: 8.3rem;
    padding: 0.93rem 0.45rem 0.36rem 0.4rem;
  }
  .registration-form .form-head {
    width: 1.57rem;
  }
  .registration-form .form-content {
    width: calc( 100% - 1.57rem );
  }
  .registration-form .form-radio {
    display: flex;
    justify-content: space-between;
    margin: 0.32rem 0 0.38rem;
  }
  .registration-form .form-radio .radio-col:first-child {
    padding-left: 0.1rem;
  }
  .registration-form .form-text {
    margin: 0.28rem 0 0.2rem;
  }
  .registration-form .close {
    width: 0.6rem;
    height: 0.6rem;
    background: url(../img/top/sp/close_btn_01.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -0.2rem;
  }

  .form-btn {
    width: 2.78rem;
    margin: 0.36rem auto 0;
    position: relative;
  }

  .btn-submit {
    width: 2.78rem;
    height: 0.6rem;
  }
}
.overlay-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 400;
  display: none;
}

.section-about {
  position: relative;
}
.section-about .about-content {
  background: #fff;
}
.section-about .about-desc {
  line-height: 1.53;
  color: #000;
}
.section-about .about-slider {
  position: relative;
}
.section-about .list-dots > li {
  padding-left: 0.16rem;
  position: relative;
}
.section-about .list-dots > li:before {
  content: "";
  width: 0.07rem;
  height: 0.07rem;
  border-radius: 100%;
  background: #000;
  position: absolute;
  top: 0.13rem;
  left: 0;
}
.section-about .list-dots strong {
  font-family: "HelveticaNeue-Bold", sans-serif;
}
.section-about .about-address {
  text-align: center;
  color: #fff;
  background: url(../img/common/marker_icon.png) no-repeat center 0;
  background-size: 0.35rem auto;
  padding-top: 0.56rem;
  margin-top: 0.36rem;
}

@media print, (min-width: 768px) {
  .section-about {
    background: #003605 url(../img/common/body_bg.jpg) no-repeat center 0;
    background-size: auto 100%;
    padding: 0.26rem 0;
  }
  .section-about .wrapper {
    position: relative;
    z-index: 2;
  }
  .section-about:before, .section-about:after {
    content: "";
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .section-about:before {
    width: 8.06rem;
    height: 3.5rem;
    background-image: url(../img/top/shape_icon_01.png);
    right: 50%;
    top: -0.96rem;
    margin-right: 0.2rem;
  }
  .section-about:after {
    width: 10.34rem;
    height: 1.86rem;
    background-image: url(../img/top/shape_icon_02.png);
    right: 50%;
    bottom: -0.48rem;
    margin-right: -5.6rem;
  }
  .section-about .about-content {
    position: relative;
    padding-right: 35.9%;
  }
  .section-about .park-photo img {
    display: block;
    width: 100%;
  }
  .section-about .about-info {
    width: 35.9%;
    padding: 0.2rem 0.15rem 0.2rem 0.25rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
  }
  .section-about .about-inner {
    width: 100%;
  }
  .section-about .about-title {
    font-size: 0.4rem;
    line-height: 1.2;
    color: #013806;
    position: relative;
    padding-bottom: 0.25rem;
    font-family: "HelveticaNeue-Bold", sans-serif;
    margin-bottom: 0.3rem;
  }
  .section-about .about-title:after {
    content: "";
    position: absolute;
    left: 0;
    width: 2.22rem;
    height: 1px;
    background: #050505;
    bottom: 0;
  }
  .section-about .about-desc {
    font-size: 0.22rem;
  }
  .section-about .about-address {
    font-size: 0.18rem;
  }
}
@media only screen and (max-width: 767px) {
  .section-about {
    background: #003605 url(../img/top/sp/about_bg.jpg) no-repeat center 0;
    background-size: cover;
    margin-top: -0.84rem;
    padding-bottom: 0.45rem;
  }
  .section-about .about-content {
    margin-bottom: 0.22rem;
    background: none;
  }
  .section-about .about-desc {
    font-size: 0.23rem;
    line-height: 1.7;
    padding: 1rem 0.15rem 0.25rem;
    background: #fff;
  }
  .section-about .about-address {
    font-size: 0.23rem;
    line-height: 1.8;
    margin: 0 -0.3rem 0;
    background-size: 0.2rem auto;
    padding-top: 0.3rem;
  }

  .section-about .list-dots > li:before {
    top: 0.18rem;
  }
}
.dots-slick .slick-dots > li {
  margin: 0 0.06rem;
}
.dots-slick .slick-dots button {
  height: 0.15rem;
  border-radius: 50%;
  width: 0.15rem;
  display: block;
  padding: 0;
  background: rgba(255, 255, 255, 0.8);
}
.dots-slick .slick-dots .slick-active button {
  background: #fff;
}
.dots-slick .slick-arrow {
  width: 0.12rem;
  height: 0.26rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  margin-top: -0.13rem;
}
.dots-slick .slick-next {
  right: 0;
  background-image: url(../img/top/next_btn.png);
}
.dots-slick .slick-prev {
  left: 0;
  background-image: url(../img/top/prev_btn.png);
}

@media print, (min-width: 768px) {
  .dots-slick {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
  }
  .dots-slick .slick-dots {
    display: flex !important;
  }
  .dots-slick .slick-control {
    position: relative;
    padding: 0 0.18rem;
  }
}
@media only screen and (max-width: 767px) {
  .dots-slick .slick-dots {
    display: none !important;
  }
  .dots-slick .slick-arrow {
    width: 0.4rem;
    height: 0.4rem;
    background-size: 0.12rem;
    margin-top: -0.2rem;
  }
  .dots-slick .slick-next {
    right: -0.32rem;
  }
  .dots-slick .slick-prev {
    left: -0.32rem;
  }
}
.lightbox-join {
  padding: 40px 0;
}
@media only screen and (max-width: 767px) {
  .lightbox-join {
    padding: 0.5rem 0;
  }
}
.lightbox-join .close {
  width: 35px;
  right: 0;
  height: 35px;
  background: url(../img/top/close_btn.png) no-repeat 0 0;
  background-size: 100% auto;
  position: absolute;
  cursor: pointer;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .lightbox-join .close {
    width: 0.35rem;
    height: 0.35rem;
    right: 0.1rem;
    top: 0.1rem;
  }
}

.modal-join {
  position: relative;
  border: 10px solid #dfdfdf;
  width: 695px;
  color: #333;
}
.modal-join .join-head {
  background: #006837;
  padding: 22px 0 16px;
}
.modal-join .join-head img {
  width: 523px;
  margin: 0 auto;
  display: block;
}
.modal-join .join-photo {
  position: relative;
}
.modal-join .join-photo img {
  width: 100%;
  display: block;
}
.modal-join .join-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 26px;
  line-height: 1.2;
  padding: 20px 15px;
}
.modal-join .join-text {
  text-align: center;
}
.modal-join .list-check {
  width: 300px;
  font-family: "HelveticaNeue-Bold", sans-serif;
  margin: 20px auto 0;
}
.modal-join .list-check > li + li {
  margin-top: 18px;
}
.modal-join .join-agree {
  background: #006837 url(../img/top/modal_bg.png) no-repeat 0 bottom;
  background-size: 100% auto;
  padding: 20px 15px 132px 15px;
  text-align: center;
  color: #fff;
  position: relative;
}
.modal-join .join-agree:after {
  content: "";
  position: absolute;
  left: 0;
  top: -148px;
  width: 78px;
  height: 156px;
  background: url(../img/top/shape_icon_04.png) no-repeat 0 0;
  background-size: 100% auto;
}
.modal-join .join-agree:before {
  content: "";
  width: 100%;
  height: 45px;
  background: url(../img/top/agree_bg.png) no-repeat 0 0;
  background-size: 100% auto;
  top: -42px;
  left: 0;
  position: absolute;
}
.modal-join .label-radio {
  font-style: italic;
  font-size: 21px;
  margin-bottom: 6px;
}
.modal-join .label-radio span:before {
  top: 3px;
}
.modal-join .agree-link {
  display: inline-block;
  background: url(../img/top/arrow_icon.png) no-repeat right center;
  background-size: 25px auto;
  padding: 1px 30px 5px 0;
  font-size: 21px;
  line-height: 1.5;
  color: #FFFF00;
  text-decoration: underline;
}
.modal-join .btn-join {
  position: absolute;
  width: 278px;
  height: 70px;
  left: 0;
  margin: 0 0 6.4% 29.7%;
  bottom: 0;
  display: block;
  background: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

@media print, (min-width: 768px) {
  .modal-join .label-radio span {
    padding-left: 20px;
  }

  .modal-join .label-radio span:before {
    width: 16px;
    height: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .modal-join {
    border-width: 0.09rem;
    width: auto;
    margin: 0 0.12rem;
    background: #fff;
  }
  .modal-join .join-head {
    background: none;
    padding: 0.15rem 0;
    font-size: 0.34rem;
    font-family: "HelveticaNeue-Bold", sans-serif;
    color: #006837;
    text-align: center;
  }
  .modal-join .join-head img {
    display: none;
  }
  .modal-join .join-photo {
    position: relative;
  }
  .modal-join .join-photo img {
    width: 100%;
    display: block;
  }
  .modal-join .join-info {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    font-size: 0.26rem;
    padding: 0 0.2rem;
    margin-bottom: -1rem;
  }
  .modal-join .join-text {
    text-align: left;
    padding: 0;
  }
  .modal-join .list-check {
    width: 3.5rem;
    font-family: "HelveticaNeue-Bold", sans-serif;
    margin: 0.2rem auto 0;
  }
  .modal-join .list-check > li + li {
    margin-top: 0.2rem;
  }
  .modal-join .join-agree {
    background-image: url(../img/top/sp/modal_bg.png);
    padding: 0.1rem 0.05rem 1.25rem 0.05rem;
  }
  .modal-join .join-agree:after {
    display: none;
  }
  .modal-join .join-agree:before {
    height: 0.43rem;
    background-image: url(../img/top/sp/agree_bg.png);
    top: -0.4rem;
  }
  .modal-join .label-radio {
    font-style: italic;
    font-size: 0.21rem;
    margin-bottom: 0;
  }
  .modal-join .label-radio span:before {
    top: -0.01rem;
  }
  .modal-join .agree-link {
    background-size: 0.25rem auto;
    padding: 0 0.3rem 0.05rem 0;
    font-size: 0.21rem;
  }
  .modal-join .btn-join {
    width: 2.88rem;
    height: 0.7rem;
    margin: 0 0 8.4% 22.7%;
  }
}
.label-checkbox {
  display: inline-block;
}
.label-checkbox span {
  display: block;
  padding-left: 60px;
  position: relative;
  cursor: pointer;
}
.label-checkbox span:before {
  content: "";
  width: 32px;
  height: 32px;
  background: url(../img/top/check_icon.png) no-repeat 0 0;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: 0;
}
.label-checkbox input {
  display: none;
}
.label-checkbox input:checked + span:before {
  background-position: 0 bottom;
}

@media only screen and (max-width: 767px) {
  .label-checkbox span {
    padding-left: 0.6rem;
  }
  .label-checkbox span:before {
    width: 0.32rem;
    height: 0.32rem;
  }
}
.register-btn {
  position: fixed;
  right: 30px;
  bottom: 20px;
  width: 180px;
  z-index: 80;
  display: none;
}

@media screen and (max-width: 1500px) {
  .register-btn {
    right: 2vw;
    bottom: 2vw;
    width: 12vw;
  }
}
.preload {
  position: absolute;
  top: 0;
  left: 0;
}
.preload img {
  width: 1px;
  height: 1px;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
