@charset "utf-8"

.section-keyvisual
  position: relative
  overflow: hidden
  img
    display: block
    width: 100%
  .keyvisual-number
    position: absolute
    font-size: 4.38vw
    line-height: 1
    left: 0
    top: 0
    margin: 26.5% 0 0 5.2%
    color: #cf0008
    text-shadow: 1px 0 0 rgba(0,0,0,1), -1px 0 0 rgba(0,0,0,1), 0 -1px 0 rgba(0,0,0,1), 0 1px 0 rgba(0,0,0,1)
    z-index: 2
    display: flex
    font-family: 'SFUAuchon', sans-serif
    .number-item
      width: 30vw
      text-align: right
  .btn-join
    width: 18.3vw
    height: 4.6vw
    position: absolute
    z-index: 2
    left: 0
    bottom: 0
    margin: 0 0 8vw 13.46vw
    display: block
    cursor: pointer

+mobile
  .section-keyvisual
    img
      display: block
      width: 100%
    .keyvisual-number
      font-size: 0.54rem
      margin: 0 0 2.18rem 0.38rem
      top: auto
      bottom: 0
      .number-item
        width: 4rem
        text-align: right
    .btn-join
      width: 2.74rem
      height: 0.78rem
      margin: 0 0 0.35rem 1.36rem

+desktop
  .section-prize-registration
    position: relative
    .col
      position: relative
      z-index: 2
  .section-prize-registration
    background: #003605 url(../img/common/body_bg.jpg) no-repeat center 0
    background-size: auto 100%
    display: flex
    .col
      width: 50%
      overflow: hidden
    .wrapper
      display: flex
.prize-col
  font-size: 0.26rem
  line-height: 1.2
  color: #fff
  .prize-row
    position: relative
    z-index: 2
+desktop
  .prize-col
    background: url(../img/top/line_01.png) no-repeat right 0
    background-size: 0.08rem auto
    padding-top: 0.35rem
    .prize-inner
      width: 6.55rem
      float: right
    .prize-title
      background: url(../img/top/title_bg.png) no-repeat 0 bottom
      background-size: 100% auto
      width: 5.66rem
      padding-bottom: 1.6rem
      margin-bottom: -0.95rem
    .prize-row
      padding: 0 1.8rem 0 0.56rem
      & + .prize-row
        margin-top: 0.14rem
    .prize-list
      width: 4.2rem
      margin-top: 0.02rem
      &>li
        margin-top: .05rem
        &:first-child
          margin-top: 0
+mobile  
  .prize-col
    padding: 1px 0 0.3rem
    background: url(../img/top/sp/bg_01.png) no-repeat 0 bottom
    background-size: cover
    position: relative
    z-index: 4
    .about-title
      margin-top: 0.75rem
      padding: 0 0.3rem
    .mb-bottom
      margin-bottom: 0.56rem
    &:after
      content: ''
      width: 3.6rem
      height: 4.28rem
      background: url(../img/top/sp/shape_icon_01.png) no-repeat 0 0
      background-size: 100% auto
      position: absolute
      left: 0
      bottom: 2.85rem
    .prize-title
      margin: -0.15rem 0 -1.28rem
    .prize-row
      padding: 0 0.3rem
      font-size: 0.28rem
      line-height: 1.15
      text-align: center
      & + .prize-row
        margin-top: 0.3rem
    .prize-list
      margin-top: 0.26rem
      &>li
        margin-top: .05rem
        &:first-child
          margin-top: 0
+desktop
  .registration-col
    background: url(../img/top/registration_bg.jpg) no-repeat 0 0
    background-size: cover
    position: relative
    display: block !important
    &:before
      content: ''
      width: 2.58rem
      height: 6.16rem
      position: absolute
      left: 0
      top: 0.74rem
      background: url(../img/top/shape_icon_03.png) no-repeat center 0
      background-size: 100% auto
      margin-left: 6.2rem
    &:after
      content: ''
      position: absolute
      width: 6.1rem
      left: 0.12rem
      top: 0.95rem
      mix-blend-mode: multiply
      background: url(../img/top/form_bg_01.png) no-repeat 0 0
      background-size: 100% auto
      height: 7.64rem
      +desktop-ie
        display: none
      +desktop-edge
        display: none
    .registration-inner
      width: 6.36rem
      padding: 0.38rem 0.35rem 0.8rem
      position: relative
      z-index: 2
    .registration-title
      margin-bottom: 0.26rem

.registration-form
  position: relative

  .registration-form-inner
    background: url(../img/top/form_bg.png) no-repeat 0 0
    background-size: 100% auto
    padding: 0.36rem 0.5rem 0.36rem 0.42rem
    font-size: 0.2rem
    color: #000
    position: relative
    z-index: 2
    display: block
    +desktop-ie
      box-shadow: 0 0 0.3rem rgba(0,0,0,0.6)
    +desktop-edge
      box-shadow: 0 0 0.3rem rgba(0,0,0,0.6)
  .form-block
    margin-bottom: 0.22rem
  .form-row
    display: flex
    align-items: center
    margin-bottom: 0.22rem
  .form-head
    width: 1.74rem
  .form-content
    width: calc( 100% - 1.74rem )
  .form-radio
    display: flex
    justify-content: space-between
    margin: 0.42rem 0 0.28rem
    .radio-col
      &:first-child
        padding-left: 0.1rem
  .form-text
    margin: -0.05rem 0 0.05rem
.form-btn
  width: 3rem
  margin: 0 auto
  position: relative
  +desktop-ie
    box-shadow: 0 0 0.1rem rgba(0,0,0,0.6)
  +desktop-edge
    box-shadow: 0 0 0.1rem rgba(0,0,0,0.6)
  &:after
    content: ''
    left: -0.06rem
    top: -0.03rem
    right: -0.05rem
    bottom: -0.08rem
    background: url(../img/top/btn_submit_bg.png) no-repeat 0 0
    background-size: 100% 100%
    mix-blend-mode: multiply
    position: absolute
    +desktop-ie
      display: none
    +desktop-edge
      display: none

.btn-submit
  width: 3rem
  height: 0.56rem
  background: url(../img/top/btn_submit.png) no-repeat 0 0
  background-size: 100% 100%
  margin: 0 auto
  border: none
  box-shadow: none
  outline: none
  display: block
  text-transform: uppercase
  font-size: 0.41rem
  padding-top: 0.08rem
  position: relative
  z-index: 2
  cursor: pointer

.text-box,
.select
  border: 1px solid #828179
  appearance: none
  -webkit-appearance: none
  width: 100%
  display: block
  padding: 0 0.18rem
  border-radius: 0
  box-shadow: none
  font-size: 0.24rem
  outline: none
  background: #fff
  height: 0.62rem
.select
  background: #fff url(../img/top/select_icon.png) no-repeat right 8px center
  background-size: 0.26rem auto
  padding-right: 0.4rem
.select::-ms-expand 
  display: none

\::-webkit-input-placeholder
  color: #808080
  opacity: 1
  font-family: 'MyriadPro-It', sans-serif
\::-moz-placeholder
  color: #808080
  opacity: 1
  font-family: 'MyriadPro-It', sans-serif
\:-ms-input-placeholder
  color: #808080
  opacity: 1
  font-family: 'MyriadPro-It', sans-serif
\:-moz-
  color: #808080
  opacity: 1
  font-family: 'MyriadPro-It', sans-serif

.label-radio
  input
    display: none
  span
    position: relative
    display: block
    padding-left: 0.35rem
    &:before
      content: ''
      width: 0.24rem
      height: 0.23rem
      position: absolute
      left: 0
      top: -0.04rem
      display: block
      background: url(../img/top/radio_icon.png) no-repeat center bottom
      background-size: 100% auto
  input:checked + span:before
    background-position: 0 0

+mobile
  .registration-col
    .lightbox .lightbox-content
      max-height: calc( 100vh - 70px  )
      margin: 0 0.2rem
      padding: 0.2rem 0
  .registration-form
    position: relative
    .registration-form-inner
      background-image: url(../img/top/sp/form_bg.png)
      height: 8.3rem
      padding: 0.93rem 0.45rem 0.36rem 0.4rem
    .form-head
      width: 1.57rem
    .form-content
      width: calc( 100% - 1.57rem )
    .form-radio
      display: flex
      justify-content: space-between
      margin: 0.32rem 0 0.38rem
      .radio-col
        &:first-child
          padding-left: 0.1rem
    .form-text
      margin: 0.28rem 0 0.2rem
    .close
      width: 0.6rem
      height: 0.6rem
      background: url(../img/top/sp/close_btn_01.png) no-repeat 0 0
      background-size: 100% 100%
      position: absolute
      right: 0
      top: -0.2rem
  .form-btn
    width: 2.78rem
    margin: 0.36rem auto 0
    position: relative

  .btn-submit
    width: 2.78rem
    height: 0.6rem

.overlay-modal
  position: fixed
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.8)
  top: 0
  left: 0
  z-index: 400
  display: none
.section-about
  position: relative
  .about-content
    background: #fff
  .about-desc
    line-height: 1.53
    color: #000
  .about-slider
    position: relative
  .list-dots
    &>li
      padding-left: 0.16rem
      position: relative
      &:before
        content: ''
        width: 0.07rem
        height: 0.07rem
        border-radius: 100%
        background: #000
        position: absolute
        top: 0.13rem
        left: 0
    strong
      font-family: 'HelveticaNeue-Bold', sans-serif
  .about-address
    text-align: center
    color: #fff
    background: url(../img/common/marker_icon.png) no-repeat center 0
    background-size: 0.35rem auto
    padding-top: 0.56rem
    margin-top: 0.36rem

+desktop
  .section-about
    background: #003605 url(../img/common/body_bg.jpg) no-repeat center 0
    background-size: auto 100%
    padding: 0.26rem 0
    .wrapper
      position: relative
      z-index: 2
    &:before,
    &:after
      content: ''
      position: absolute
      background-position: 0 0
      background-repeat: no-repeat
      background-size: 100% auto
    &:before
      width: 8.06rem
      height: 3.5rem
      background-image: url(../img/top/shape_icon_01.png)
      right: 50%
      top: -0.96rem
      margin-right: 0.2rem
    &:after
      width: 10.34rem
      height: 1.86rem
      background-image: url(../img/top/shape_icon_02.png)
      right: 50%
      bottom: -0.48rem
      margin-right: -5.6rem
    .about-content
      position: relative
      padding-right: 35.9%
    .park-photo
      img
        display: block
        width: 100%
    .about-info
      width: 35.9%
      padding: 0.2rem 0.15rem 0.2rem 0.25rem
      display: flex
      align-items: center
      position: absolute
      top: 0
      height: 100%
      right: 0
    .about-inner
      width: 100%
    .about-title
      font-size: 0.4rem
      line-height: 1.2
      color: #013806
      position: relative
      padding-bottom: 0.25rem
      font-family: 'HelveticaNeue-Bold', sans-serif
      margin-bottom: 0.3rem
      &:after
        content: ''
        position: absolute
        left: 0
        width: 2.22rem
        height: 1px
        background: #050505
        bottom: 0
    .about-desc
      font-size: 0.22rem
    .about-address
      font-size: 0.18rem

+mobile
  .section-about
    background: #003605 url(../img/top/sp/about_bg.jpg) no-repeat center 0
    background-size: cover
    margin-top: -0.84rem
    padding-bottom: 0.45rem
    .about-content
      margin-bottom: 0.22rem
      background: none
    .about-desc
      font-size: 0.23rem
      line-height: 1.7
      padding: 1rem 0.15rem 0.25rem
      background: #fff
    .about-address
      font-size: 0.23rem
      line-height: 1.8
      margin: 0 -0.3rem 0
      background-size: 0.2rem auto
      padding-top: 0.3rem
  .section-about .list-dots > li:before
    top: 0.18rem
.dots-slick
  .slick-dots
    &>li
      margin: 0 0.06rem
    button
      height: 0.15rem
      border-radius: 50%
      width: 0.15rem
      display: block
      padding: 0
      background: rgba(255, 255, 255, 0.8)
    .slick-active button
      background: #fff
  .slick-arrow
    width: 0.12rem
    height: 0.26rem
    background-position: center center
    background-repeat: no-repeat
    background-size: 100% auto
    position: absolute
    top: 50%
    margin-top: -0.13rem
  .slick-next
    right: 0
    background-image: url(../img/top/next_btn.png)
  .slick-prev
    left: 0
    background-image: url(../img/top/prev_btn.png)

+desktop
  .dots-slick
    display: flex
    justify-content: center
    margin-top: 0.2rem
    .slick-dots
      display: flex !important
    .slick-control
      position: relative
      padding: 0 0.18rem

+mobile
  .dots-slick
    .slick-dots
      display: none !important
    .slick-arrow
      width: 0.4rem
      height: 0.4rem
      background-size: 0.12rem
      margin-top: -0.2rem
    .slick-next
      right: -0.32rem
    .slick-prev
      left: -0.32rem

.lightbox-join
  padding: 40px 0
  +mobile
    padding: 0.5rem 0
  .close
    width: 35px
    right: 0
    height: 35px
    background: url(../img/top/close_btn.png) no-repeat 0 0
    background-size: 100% auto
    position: absolute
    cursor: pointer
    top: 0
    +mobile
      width: 0.35rem
      height: 0.35rem
      right: 0.1rem
      top: 0.1rem
.modal-join
  position: relative
  border: 10px solid #dfdfdf
  width: 695px
  color: #333
  .join-head
    background: #006837
    padding: 22px 0 16px
    img
      width: 523px
      margin: 0 auto
      display: block
  .join-photo
    position: relative
    img
      width: 100%
      display: block
  .join-info
    position: absolute
    left: 0
    top: 0
    width: 100%
    font-size: 26px
    line-height: 1.2
    padding: 20px 15px
  .join-text
    text-align: center
  .list-check
    width: 300px
    font-family: 'HelveticaNeue-Bold', sans-serif
    margin: 20px auto 0
    &>li+li
      margin-top: 18px
  .join-agree
    background: #006837 url(../img/top/modal_bg.png) no-repeat 0 bottom
    background-size: 100% auto
    padding: 20px 15px 132px 15px
    text-align: center
    color: #fff
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      top: -148px
      width: 78px
      height: 156px
      background: url(../img/top/shape_icon_04.png) no-repeat 0 0
      background-size: 100% auto
    &:before
      content: ''
      width: 100%
      height: 45px
      background: url(../img/top/agree_bg.png) no-repeat 0 0
      background-size: 100% auto
      top: -42px
      left: 0
      position: absolute
  .label-radio
    font-style: italic
    font-size: 21px
    margin-bottom: 6px
  .label-radio span:before
    top: 3px
  .agree-link
    display: inline-block
    background: url(../img/top/arrow_icon.png) no-repeat right center
    background-size: 25px auto
    padding: 1px 30px 5px 0
    font-size: 21px
    line-height: 1.5
    color: #FFFF00
    text-decoration: underline
  .btn-join
    position: absolute
    width: 278px
    height: 70px
    left: 0
    margin: 0 0 6.4% 29.7%
    bottom: 0
    display: block
    background: none
    border: none
    appearance: none
    -webkit-appearance: none
    cursor: pointer
+desktop
  .modal-join .label-radio span
    padding-left: 20px
  .modal-join .label-radio span:before
    width: 16px
    height: 16px
+mobile
  .modal-join
    border-width: 0.09rem
    width: auto
    margin: 0 0.12rem
    background: #fff
    .join-head
      background: none
      padding: 0.15rem 0
      font-size: 0.34rem
      font-family: 'HelveticaNeue-Bold', sans-serif
      color: #006837
      text-align: center
      img
        display: none
    .join-photo
      position: relative
      img
        width: 100%
        display: block
    .join-info
      position: relative
      left: auto
      top: auto
      width: 100%
      font-size: 0.26rem
      padding: 0 0.2rem
      margin-bottom: -1rem
    .join-text
      text-align: left
      padding: 0
    .list-check
      width: 3.5rem
      font-family: 'HelveticaNeue-Bold', sans-serif
      margin: 0.2rem auto 0
      &>li+li
        margin-top: 0.2rem
    .join-agree
      background-image: url(../img/top/sp/modal_bg.png)
      padding: 0.1rem 0.05rem 1.25rem 0.05rem
      &:after
        display: none
      &:before
        height: 0.43rem
        background-image: url(../img/top/sp/agree_bg.png)
        top: -0.4rem
    .label-radio
      font-style: italic
      font-size: 0.21rem
      margin-bottom: 0
    .label-radio span:before
      top: -0.01rem
    .agree-link
      background-size: 0.25rem auto
      padding: 0 0.3rem 0.05rem 0
      font-size: 0.21rem
    .btn-join
      width: 2.88rem
      height: 0.7rem
      margin: 0 0 8.4% 22.7%
.label-checkbox
  display: inline-block
  span
    display: block
    padding-left: 60px
    position: relative
    cursor: pointer
    &:before
      content: ''
      width: 32px
      height: 32px
      background: url(../img/top/check_icon.png) no-repeat 0 0
      background-size: 100% auto
      position: absolute
      left: 0
      top: 0
  input
    display: none
  input:checked + span:before
    background-position: 0 bottom

+mobile
  .label-checkbox
    span
      padding-left: 0.6rem
      &:before
        width: 0.32rem
        height: 0.32rem

.register-btn
  position: fixed
  right: 30px
  bottom: 20px
  width: 180px
  z-index: 80
  display: none
@media screen and ( max-width: 1500px )
  .register-btn
    right: 2vw
    bottom: 2vw
    width: 12vw

.preload
  position: absolute
  top: 0
  left: 0
  img
    width: 1px
    height: 1px
    opacity: 0