@charset "utf-8"


/* COMMON FOOTER
 * -----------------------------------------------*/
+desktop
  footer
    height: 0.7rem
    background: url(../img/common/footer_bg.jpg) repeat-x center bottom
    background-size: 0.25rem auto
    padding-top: 0.05rem
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      height: 0.05rem
      background: url(../img/common/line_01.jpg) repeat-x center 0
      background-size: auto 100%
      top: 0
      width: 100%
+mobile
  footer
    background: #000b05
    height: 0.86rem
    .footer-inner
      background: url(../img/common/sp/footer_bg.jpg) no-repeat 0 0
      background-size: 100% auto
      position: relative
      padding: 0.12rem 0
      height: 0.86rem
      position: fixed
      left: 0
      bottom: 0
      z-index: 51
      width: 100%
      .registration-btn
        width: 48%
        margin: 0 auto
        display: block