@charset "utf-8"


/* COMMON HEADER
 * -----------------------------------------------*/

+desktop
  header
    background: url(../img/common/header_bg.jpg) repeat-x 0 0
    background-size: auto 0.8rem
    padding-bottom: 0.05rem
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      height: 0.05rem
      width: 100%
      bottom: 0
      background: url(../img/common/line.jpg) repeat-x center 0
      background-size: auto 0.05rem
    .wrapper
      display: flex
      justify-content: space-between
      align-items: center
      height: 0.8rem
      max-width: 1362px
    .header
      &-logo
        width: 4.34rem
    img
      display: block
      max-width: 100%

  .list-menu
    font-size: 0.18rem
    display: flex
    &>li
      margin-left: 0.28rem
      &:first-child
        margin-left: 0
    a
      display: block
      color: #FFFF62
      font-family: 'HelveticaNeue-Bold', sans-serif
      font-weight: normal
      font-style: normal
      padding: 0.12rem 0.24rem
      text-transform: capitalize
      position: relative
      letter-spacing: 0.05em
      &:hover,
      &.is-current
        &:after
          +opacity(1)
      &>span
        display: block
        z-index: 2
        position: relative
      &:after
        content: ''
        position: absolute
        left: 0
        top: 0
        right: 0
        height: 100%
        border-radius: 0.05rem
        background: url(../img/common/menu_bg.png) repeat-x center center
        background-size: auto 110%
        display: block
        border: 1px solid rgba(255, 255, 255, 0.1)
        +opacity(0)
        +transition(opacity .26s ease)
  .navigation
    height: auto
    display: block !important
  body
    position: static !important
    top: auto !important
  
+mobile
  header
    background: url(../img/common/sp/header_bg.jpg) no-repeat 0 bottom
    background-size: cover
    padding: 0.12rem 0 0.2rem
    position: relative
    z-index: 200
    .header
      &-logo
        width: 69%
    .btn-menu
      position: absolute
      right: 0.3rem
      top: 50%
      width: 0.6rem
      height: 0.4rem
      background: url(../img/common/sp/menu_btn.png) no-repeat 0 0
      background-size: 100% auto
      margin-top: -0.2rem

  .list-menu
    font-size: 0.28rem
    &>li
      border-bottom: 1px solid #fffc7b
    a
      display: block
      color: #FFFF62
      font-family: 'HelveticaNeue-Bold', sans-serif
      font-weight: normal
      font-style: normal
      padding: 0.18rem 0.24rem
      text-transform: capitalize
      letter-spacing: 0.05em
  .navigation
    position: absolute
    top: 100%
    width: 100%
    z-index: 888
    background: #003605
    left: 0
    display: none
  .overlay-menu
    display: none
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 180