@charset "utf-8"
.slick-slider
  position: relative
  display: block
  box-sizing: border-box
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent

.slick-list
  position: relative
  overflow: hidden
  display: block
  margin: 0
  padding: 0

  &:focus
    outline: none

.slick-slider .slick-track,
.slick-slider .slick-list
  -webkit-transform: translate3d(0, 0, 0)
  -moz-transform: translate3d(0, 0, 0)
  -ms-transform: translate3d(0, 0, 0)
  -o-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)

.slick-track
  position: relative
  left: 0
  top: 0
  display: block

  &:before,
  &:after
    content: ""
    display: table

  &:after
    clear: both

  .slick-loading &
    visibility: hidden

.slick-slide
  float: left
  height: 100%
  min-height: 1px

  [dir="rtl"] &
    float: right

  img
    display: block
    
  &:active,
  &:focus
    outline: none

  &.slick-loading img
    display: none

  display: none

  &.dragging img
    pointer-events: none

  .slick-initialized &
    display: block

  .slick-loading &
    visibility: hidden

  .slick-vertical &
    display: block
    height: auto
    border: 1px solid transparent

.slick-arrow.slick-hidden
  display: none
  
.slick-arrow,
.slick-dots button
  background-position: 0 0
  background-repeat: no-repeat
  text-indent: -1000px
  overflow: hidden
  padding: 0
  border: none
  background-color: transparent
  outline: none
  display: block
  cursor: pointer

.lightbox
  display: none
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.8)
  z-index: 1000
  & &-wrap
    width: 100%
    height: 100%
    padding: 0
    display: table
  & &-td-va
    display: table-cell
    vertical-align: middle
  & &-window
    margin: auto
    overflow: hidden
    max-width: 695px
    position: relative
  & &-content
    overflow-y: auto
    overflow-x: hidden
.no-scroll
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden

.lightbox-join .lightbox-content
  max-height: calc( 100vh - 100px )

+desktop
  .col.registration-col
    .lightbox
      display: block !important
      background: none
      .lightbox-wrap
        display: block
        height: auto
      .lightbox-td-va
        display: block
      .lightbox-window
        max-width: 100%
        overflow: visible
      .lightbox-content
        overflow: visible