@charset "utf-8"
@font-face
  font-family: 'MyriadPro-Regular'
  src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Regular.otf') format('opentype'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'MyriadPro-It'
  src: url('fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-It.otf') format('opentype'), url('fonts/MyriadPro-It.woff') format('woff'), url('fonts/MyriadPro-It.ttf') format('truetype'), url('fonts/MyriadPro-It.svg#MyriadPro-It') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue'
  src: url('fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue.ttf') format('truetype'), url('fonts/HelveticaNeue.svg#HelveticaNeue') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue-Bold'
  src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'SFUAuchon'
  src: url('fonts/SFUAuchon.eot?#iefix') format('embedded-opentype'), url('fonts/SFUAuchon.woff') format('woff'), url('fonts/SFUAuchon.ttf') format('truetype'), url('fonts/SFUAuchon.svg#SFUAuchon') format('svg')
  font-weight: normal
  font-style: normal



.ft-myriadpro
  font-family: 'MyriadPro-Regular', sans-serif
  font-weight: normal
  font-style: normal

.ft-helveticaneue
  font-family: 'HelveticaNeue', sans-serif
  font-weight: normal
  font-style: normal

.ft-helveticaneue-bold
  font-family: 'HelveticaNeue-Bold', sans-serif
  font-weight: normal
  font-style: normal


/* COMPASS
 * -----------------------------------------------*/

@import "compass/reset"
@import "compass/css3"
@import "compass/utilities/general/clearfix"


/* BASE
 * -----------------------------------------------*/

@import "base/variables"
@import "base/mixins"
@import "base/base"


/* PARTS
 * -----------------------------------------------*/

@import "parts/header"
@import "parts/footer"
@import "parts/modules"


/* PAGES
 * -----------------------------------------------*/

@import "pages/top"
