extends _layouts/default

block vars
  -title        = 'Picity High Park'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'

block container
  section.section-keyvisual#keyvisual
    img.md(src=path+"/img/top/keyvisual_img_01.jpg", alt="image")
    img.sm(src=path+"/img/top/sp/keyvisual_img_01.jpg", alt="image")
    .keyvisual-number
      .number-item.odometer 500000000
    .btn-join.sm.open-lightbox(data-lightbox="lightbox-registration")
    .btn-join.md.js-scroll(href="#register")
  a.register-btn.md.js-scroll#register-btn(href="#register")
    img.trans(src=path+"/img/top/register_btn.png", alt="Đăng ký tham gia ngay")
  section.section-prize-registration#register
    .col.prize-col
      .prize-inner
        h2.prize-title
          img.md(src=path+"/img/top/title_ttl_01.png", alt="Cơ cấu giải thưởng")
          img.sm(src=path+"/img/top/sp/title_ttl_01.png", alt="Cơ cấu giải thưởng")
        .prize-row
          p.mb-bottom Cơ cấu giải thưởng dành cho <br>khách hàng đã chốt cọc thành công
          ul.prize-list
            li
              img(src=path+"/img/top/prize_img_01.png", alt="Giải 1")
            li
              img(src=path+"/img/top/prize_img_02.png", alt="Giải 2")
            li
              img(src=path+"/img/top/prize_img_03.png", alt="Giải 3")
            li
              img(src=path+"/img/top/prize_img_04.png", alt="Giải 4")
        .prize-row
          p Cơ cấu giải thưởng dành cho <br>khách hàng tham dự may mắn
          ul.prize-list
            li
              img(src=path+"/img/top/prize_img_05.png", alt="Giải 5")
      .about-title.sm
        img(src=path+"/img/top/sp/title_ttl_02.png", alt="GIỚI THIỆU TỔNG QUAN DỰ ÁN PICITY HIGH PARK")

    .col.registration-col.ft-myriadpro
      .registration-inner.lightbox(data-lightbox="lightbox-registration")
        .lightbox-wrap
          .lightbox-td-va
            .lightbox-window
              .lightbox-content
                h2.registration-title.md
                  img(src=path+"/img/top/title_ttl_02.png", alt="Nhập thông tin đăng kí")
                .registration-form
                  form.registration-form-inner.form-registration(action=path+"/")
                    .close.sm
                    .form-block
                      input.text-box(type="text" placeholder="Nhập họ tên...")
                    .form-row
                      .form-head Năm sinh
                      .form-content
                        select.select
                          option(value="1990") 1990
                          option(value="1991") 1991
                          option(value="1992") 1992
                    .form-row
                      .form-head Nghề nghiệp
                      .form-content
                        select.select
                          option(value="Nội trợ") Nội trợ
                          option(value="Buôn bán") Buôn bán
                    .form-radio
                      label.label-radio
                        input(type="radio" name="radio" checked)
                        span Việt Nam
                      label.label-radio
                        input(type="radio" name="radio")
                        span Người nước ngoài
                    .form-row
                      .form-head Số CMND
                      .form-content
                        input.text-box(type="text" placeholder="Nhập thông tin...")
                    .form-text Nơi ở hiện tại:
                    .form-row
                      .form-head Tỉnh/thành
                      .form-content
                        select.select
                          option(value="Hồ Chí Minh") Hồ Chí Minh
                          option(value="Vũng Tàu") Vũng Tàu
                          option(value="Long An") Long An
                          option(value="Đồng Nai") Đồng Nai
                    .form-row
                      .form-head Quận/huyện
                      .form-content
                        select.select
                          option(value="Quận 1") Quận 1
                          option(value="Quận 2") Quận 2
                          option(value="Quận 3") Quận 3
                    .form-btn
                      button.btn-submit.trans(type="submit") Đăng ký
    
  section.section-about#about
    .wrapper
      .about-info.sm
        .about-inner
          .about-desc
            ul.list-dots
              li
                strong Dự án: 
                | Picity High Park
              li
                strong Diện tích: 
                | 86.192,6 m2
              li
                strong Mật độ xây dựng: 
                | 23%
              li
                strong Quy mô: 
                | 5 Khu, 6 Block, cao từ 15 - 18 tầng (5 hầm), tổng sản phẩm 2.446 căn hộ.
              li
                strong Loại hình sản phẩm: 
                | căn hộ cao cấp
              li
                strong Hình thức sở hữu: 
                | Vĩnh viễn.
      .about-slider
        .js-slider
          .item-slide
            .about-content
              .park-photo
                img.md(src=path+"/img/top/slide_img_01.jpg", alt="image")
                img.sm(src=path+"/img/top/sp/slide_img_01.jpg", alt="image")
              .about-info.md
                .about-inner
                  h2.about-title.md
                    | GIỚI THIỆU
                    br
                    | TỔNG QUAN
                    br
                    | DỰ ÁN
                    br
                    | PICITY HIGH PARK
                  .about-desc
                    ul.list-dots
                      li
                        strong Dự án: 
                        | Picity High Park
                      li
                        strong Diện tích: 
                        | 86.192,6 m2
                      li
                        strong Mật độ xây dựng: 
                        | 23%
                      li
                        strong Quy mô: 
                        | 5 Khu, 6 Block, cao từ 15 - 18 tầng (5 hầm), tổng sản phẩm 2.446 căn hộ.
                      li
                        strong Loại hình sản phẩm: 
                        | căn hộ cao cấp
                      li
                        strong Hình thức sở hữu: 
                        | Vĩnh viễn.
          .item-slide
            img(src=path+"/img/top/slide_img_02.jpg", alt="image")
          .item-slide
            img(src=path+"/img/top/slide_img_03.jpg", alt="image")
          .item-slide
            img(src=path+"/img/top/slide_img_04.jpg", alt="image")
          .item-slide
            img(src=path+"/img/top/slide_img_05.jpg", alt="image")
        .dots-slick
          .slick-control#js-dots

      p.about-address ĐC: 169 Bạch Đằng, Phường 2, Tân Bình, TP.HCM<span class="md">   l   </span><br class="sm">Hotline: 0898 142 247

  .lightbox(data-lightbox="lightbox")
    .lightbox-wrap
      .lightbox-td-va
        .lightbox-window.lightbox-join
          .close
          .lightbox-content
            .modal-join
              .join-head
                img.md(src=path+"/img/top/title_ttl_03.png", alt="Câu hỏi tham gia dự thưởng")
                span.sm Câu hỏi tham gia dự thưởng
              .join-photo
                .join-info
                  p.join-text Dự đoán mức giá mở bán của toà tháp<br class="sm">Park 2<br class="md">dự án PiCity High Park:
                  ul.list-check
                    li
                      label.label-checkbox
                        input(type="checkbox" name="check" checked)
                        span 45.000.000vnđ/m2
                    li
                      label.label-checkbox
                        input(type="checkbox" name="check")
                        span 42.000.000vnđ/m2
                    li
                      label.label-checkbox
                        input(type="checkbox" name="check")
                        span 40.000.000vnđ/m2
                img.md(src=path+"/img/top/park_img.jpg", alt="Park")
                img.sm(src=path+"/img/top/sp/park_img.jpg", alt="Park")
                .join-agree
                  label.label-radio
                    input(type="checkbox" checked)
                    span Tôi đồng ý các điều kiện tham gia chương trình.
                  a.agree-link(href="#") Xem thêm điều kiện
                  buton.btn-join(type="button")
  .overlay-modal
  .preload
    img.md(src=path+"/img/top/keyvisual_img_01.jpg", alt="image")
    img.md(src=path+"/img/top/keyvisual_img_02.jpg", alt="image")
    img.md(src=path+"/img/top/keyvisual_img_03.jpg", alt="image")
    img.sm(src=path+"/img/top/sp/keyvisual_img_01.jpg", alt="image")
    img.sm(src=path+"/img/top/sp/keyvisual_img_02.jpg", alt="image")
    img.sm(src=path+"/img/top/sp/keyvisual_img_03.jpg", alt="image")