include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -pageID       = ''
  -path         = ''

doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0", id="viewport")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(rel="stylesheet", href=path+"/css/style.css")
    link(rel="stylesheet", href=path+"/css/odometer-theme-default.css")

  body
    .container
      include ../_parts/header
      main
        block container
      include ../_parts/footer

    script.
      window.odometerOptions = {
        auto: true,
        selector: '.odometer',
        format: '( ddd)',
        duration: 2000
      };
    script(src=path+"/js/jquery.min.js")
    script(src=path+"/js/slick.min.js")
    script(src=path+"/js/odometer.min.js")
    script(src=path+"/js/scripts.js")
