header
  .wrapper
    h1.header-logo
      img(src=path+"/img/common/logo.png", alt="Picity high park")
    nav.navigation#navigation
      .navigation-inner
        ul.list-menu
          li
            a.js-scroll(href="#keyvisual")
              span Game
          li
            a.js-scroll(href="#register")
              span Thể lệ
          li
            a.js-scroll(href="#about")
              span Dự án
          li
            a.js-scroll.is-current(href="#register")
              span Tham gia
    .btn-menu.sm#btn-menu

.overlay-menu.sm#overlay-menu